<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Contact us</title>

        <!-- Tailwind -->
        <script src="https://cdn.tailwindcss.com"></script>

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;1,700&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&family=Space+Mono:wght@400;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap"
            rel="stylesheet"
        />
        <!-- Font Awesome icons -->
        <script
            src="https://kit.fontawesome.com/effd3867de.js"
            crossorigin="anonymous"
        ></script>

        <style>
            * {
                font-family: "Poppins", sans-serif;
            }
        </style>
    </head>
    <body>
        <nav class="w-full h-full flex flex-col justify-center items-center">
            <div
                class="relative w-full px-4 py-8 bg-[url('./images/itbg.png')] bg-center bg-cover"
            >
                <div
                    class="absolute z-10 top-0 left-0 w-full h-full bg-gradient-to-r from-[#ffffff]"
                ></div>
                <div class="relative lg:ml-[6rem] z-30">
                    <h1
                        class="text-2xl text-center lg:text-start font-bold text-[#1d3557]"
                    >
                        PARSU E-TAP
                    </h1>
                </div>
            </div>
            <ul
                class="w-full flex justify-center items-center gap-2 lg:gap-8 px-4 py-8 text-sm lg:text-xl text-white font-semibold bg-[#1d3557]"
            >
                <li><a href="home.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#cc">CC</a></li>
                <li><a href="#css">CSS</a></li>
            </ul>
        </nav>

        <header
            class="relative w-full h-full lg:h-screen flex flex-col lg:flex-row justify-end items-center gap-8 p-4 lg:p-12 bg-[url('./images/bg3.png')] bg-center bg-cover"
        >
            <div
                class="absolute z-10 top-0 left-0 w-full h-full bg-gradient-to-r from-[#ffffff]"
            ></div>

            <!-- Left Side -->
            <div
                class="relative z-50 w-full lg:w-[50%] h-full flex justify-start items-center"
            >
                <div class="w-full flex flex-col text-black lg:ml-[4rem]">
                    <h2
                        class="text-3xl text-center lg:text-start mb-4 lg:mb-8 font-semibold text-[#040404]"
                    >
                        Follow us:
                    </h2>
                    <div
                        class="w-full flex flex-row lg:flex-col items-center justify-center lg:items-start gap-4 lg:gap-0"
                    >
                        <a href="#">
                            <div class="flex items-center gap-2 lg:mb-4">
                                <i
                                    class="fa-brands fa-facebook text-2xl lg:text-3xl text-blue-600"
                                ></i>
                                <p class="hidden lg:block text-lg">Facebook</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="flex items-center gap-2 lg:mb-4">
                                <i
                                    class="fa-brands fa-instagram text-2xl lg:text-3xl text-pink-600"
                                ></i>
                                <p class="hidden lg:block text-lg">Instagram</p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="flex items-center gap-2 lg:mb-4">
                                <i
                                    class="fa-brands fa-twitter text-2xl lg:text-3xl text-blue-400"
                                ></i>
                                <p class="hidden lg:block text-lg">
                                    Twitter (X)
                                </p>
                            </div>
                        </a>
                        <a href="#">
                            <div class="flex items-center gap-2 lg:mb-4">
                                <i
                                    class="fa-brands fa-youtube text-2xl lg:text-3xl text-red-600"
                                ></i>
                                <p class="hidden lg:block text-lg">Youtube</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Right Side -->
            <div
                class="relative z-50 w-full lg:w-[50%] h-full flex justify-center items-center"
            >
                <div
                    class="w-full lg:w-[40rem] flex flex-col items-center p-8 bg-white rounded-2xl"
                >
                    <h1 class="w-full text-3xl font-bold">Contact us</h1>
                    <p class="w-full text-sm mt-1">
                        Reach out and we'll get in touch with you within 24
                        hours
                    </p>

                    <div
                        class="w-full justify-between flex flex-col lg:flex-row gap-6 mt-10"
                    >
                        <div class="w-full flex flex-col">
                            <label>First name</label>
                            <input
                                type="text"
                                placeholder="First name"
                                class="p-2 rounded mt-1 border"
                            />
                        </div>
                        <div class="w-full flex flex-col">
                            <label>Last name</label>
                            <input
                                type="text"
                                placeholder="First name"
                                class="p-2 rounded mt-1 border"
                            />
                        </div>
                    </div>
                    <div class="w-full flex flex-col mt-4">
                        <label>Email</label>
                        <input
                            type="email"
                            placeholder="First name"
                            class="p-2 rounded mt-1 border"
                        />
                    </div>
                    <div class="w-full flex flex-col mt-4">
                        <label>Message</label>
                        <textarea
                            cols="30"
                            rows="10"
                            class="h-[10rem] rounded p-2 mt-1 border"
                        ></textarea>
                    </div>
                    <button
                        class="w-full py-2 px-4 my-4 bg-[#1D3557] text-white hover:bg-[#1D3547] rounded"
                    >
                        Send message
                    </button>
                </div>
            </div>
        </header>
    </body>
</html>
